@import '../abstracts/import.scss';

input[type=radio]{
  @extend %hidden;
}

.radio-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: $border-default;
  width: toEm(20, 12);
  height: toEm(20, 12);
  border-radius: 100%;
  vertical-align: middle;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

input[type=radio]:checked + .radio-btn {
  &::after {
    content: "\0020";
    border-radius: 100%;
    background-color: #fff;
    transform: scale(0.6);
    height: 100%;
    width: 100%;
  }

}

.radio-btn.radio-btn--md {
  font-size: toEm(10);
}

.radio-btn.radio-btn--sm {
  font-size: toEm(8);
}
