<header class="[ g__col-24--span ] [ g__row-1-to-3 ]">
  <h1>
    <span class="highlight">Light :</span>
    Input with Icon
  </h1>
</header>

<div class="[ nav ] [ g__col-1 ] [ g__row-3-to-11 ]">
  <app-nav></app-nav>
</div>

<main class="[ g__col-2-to-25 ] [ g__row-3-to-11 ]">
  <router-outlet></router-outlet>
</main>
<!--
<div class="[ g__col-16-to-20 ] [ g__row-3-to-11 ]"
     [ngStyle]="{'background': '#888'}"></div>

<div class="[ g__col-20-to-25 ] [ g__row-3-to-11 ]"
     [ngStyle]="{'background': '#f4f4'}"></div> -->

<footer class="[ g__col-24--span ] [ g__row-11-to-13 ] [ space-inset--half ]">
  <span>footer</span>
</footer>
